.container {
  padding: 0 3rem;
}

.main {
  min-height: 77vh;
  padding: 0 11rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.codeHeader {
  border-radius: 9px 9px 0 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #f8f8f2;
}

.headerTxtWrap {
  display: flex;
  align-items: center;
}

.headerTxt {
  margin: 0 1em;
}
.topicWrapper {
  margin: 0 0 2em 0;
}

/* smartphones */
@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }
  .main {
    padding: 0;
  }
}

/* tablets */
@media ((min-width: 600px) and (max-width: 1200px)) {
  .container {
    padding: 0 2rem;
  }
  .main {
    padding: 0 6.5rem;
  }
}
