html,
body {
  padding: 0;
  margin: 0;
  /* color: #444; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
pre {
  margin: 0 0 1em 0;
}
code {
  padding: 1.5em 1em !important;
}
.darkTheme {
  color: #bdc1c6;
  background-color: #202124;
}
.lightTheme {
  color: #444;
  background-color: #f8f8f8;
}
.centeredTxt {
  text-align: center;
}
.fitContent {
  width: fit-content;
}
.flex {
  display: flex;
}
.underline {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
.defaultCursor {
  cursor: default;
}
.scrolledDownNavWrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.darkTheme {
  background-color: #202124;
  color: #bdc1c6;
  border-color: #333;
}
.lightTheme {
  background-color: #f8f8f8;
  color: #444;
  border-color: #eaeaea;
}
.ScrollBtnWrap {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 2;
}
.cookieBannerWrap {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  z-index: 1;
  text-align: center;
}
.cookieNote {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}
.cookieBtnWrap {
  display: flex;
  align-items: center;
}

/* TODO move to GitProject.module.css */
.gitProjectWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.gitColumn,
.gitColumnNoHover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 1em 1.5em 1em;
}
.gitColumn:hover {
  color: #0070f3;
}

/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */
/* Comment */
.hljs {
  border-radius: 0 0 9px 9px;
}
.hljs-comment,
.hljs-quote {
  color: #d4d0ab;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ffa07a;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5ab35;
}

/* Yellow */
.hljs-attribute {
  color: #ffd700;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #abe338;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #00e0e0;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #dcc6e0;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2b2b2b;
  color: #f8f8f2;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* fade animation */
.gonimate {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.fadeInDown {
  animation-name: fadeInDown;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    top: -5em;
    /* transform: translateY(-50%); */
  }
  100% {
    opacity: 1;
    top: 0;
    /* transform: translateY(0); */
  }
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}
