.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.centered {
  text-align: center;
}
.footer {
  display: flex;
  min-height: 10vh;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
}
.bigParagraf {
  text-align: center;
  max-width: 700px;
}
.lightTopBorder {
  border-top: 1px solid #eaeaea;
}
.darkTopBorder {
  border-top: 1px solid #333;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.highlightedLink {
  color: #0070f3;
}

.flexLink {
  /* display: flex;
  align-items: center; */
  color: #0070f3;
  width: fit-content;
}
.flexLinkList {
  display: list-item;
  color: #0070f3;
  width: fit-content;
}
.flexLink:hover {
  text-decoration: underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description,
.subTitle {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.lightBorder {
  border: 1px solid #c5e0ff;
}
.darkBorder {
  border: 1px solid #333;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 0 1rem;
  }
}
