.NavBarWrap {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.navTxt {
  margin: 0.3em 0 0 0.5em;
  font-weight: 400;
}

.homeBtn {
  margin: 0.4em 0.5em 0 0;
}
.settingsBtn {
  margin: 0.4em 0.5em 0 0.5em;
}

.navListWrap {
  width: 250px;
  overflow-x: hidden;
}

.navListIcon {
  margin-left: 0.15em;
}
